
.overlay {
    background-color: #000c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55em;
    height: 27em;
 

    border-radius: 5px;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalDottedLine {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
     ". .  x-container"
     ". or-button-container ."
    
    ;
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 50em;
    height: 22em;
}


.x-container {
    grid-area: x-container;
    
    display: flex;
    justify-content: end;
    align-items: start;
}


.x {
    position: relative;
    top: -10px;
    right: 10px;
    font-size: 16px;
}

.x:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(194, 200, 200);
    cursor: pointer;
}

.or-button-container {
    grid-area: or-button-container;

}

.drag-drop-container {
    grid-area: drag-drop-container;

    display: flex;
    
    justify-content: center;
    align-items: flex-start;
}

.or {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

.modal-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
}

.modal-button {
    height: 44px;
    width: 126px;
}