
.overlay {
    background-color: #000c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55em;
    height: 27em;
    border-style: solid;
    border-color: black;
    border-radius: 5px;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalDottedLine {
    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 50em;
    height: 22em;
}


.x {
    position: relative;
    top: -15px;
    right: 5px;
    font-size: 16px;
}


.x:hover {
    cursor: pointer;
}