.sign-on-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 30px;

    /* border-style: solid;
    border-color: black; */


}

.input-bar {
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(213, 206, 206);
    width: 300px;
    height: 30px;
    
    margin-bottom: 1em;
}

.check-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.taco-pic {
    width: 300px;
    
}

