.overlay {
        background-color: #000c;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100vw;
}


.drag-drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55em;
    height: 27em;
 

    border-radius: 5px;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .container-dotted {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 55em;
    height: 27em;
 

    border-radius: 5px;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

.container-dotted {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
     ". . x-container"
     ". button-container ."
    ;
    position: relative;
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 50em;
    height: 22em;
}

.X-container {
    grid-area: x-container;
    
    display: flex;
    justify-content: end;
    align-items: start;

    position: relative;
    top: -10px;
    right: 10px;
    font-size: 16px;
}

.button-container {
    grid-area: button-container;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
