.sign-in-card {
    width: 350px;
    height: 450px;

    border-style: solid;
    border-color: grey;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.login-h1 {
    margin-top: 3em;
    margin-bottom: 1em;
}

.input-bar{
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(213, 206, 206);
    width: 325px;
    height: 35px;
    
    margin-top: 1em;
    margin-bottom: 1em;

    
}

input {
    width: ;
}

.login-check-box {
    margin-left: 1em;
    margin-right: 1em;

    display: grid;
 
    grid-template-areas:
    'check remember forgot forgot'
    ;

    grid-template-rows: 50px;
    grid-template-columns: 20px 2fr 1fr 1fr ;
    
}

.check {
    
    grid-area: check ;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: .6em;

    
}


.remember {
    grid-area: remember;
    display: flex;
    justify-content: start;
    align-items: center;
}

.forgot {
    grid-area: forgot;
    display: flex;
    justify-content: end;
    align-items: center;
}